{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/import_quiz.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"
            integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/import_quiz_old.js' %}"></script>
{% endblock %}
{% block title %}Importuj quiz{% endblock %}
{% block content %}
    <div class="box h-1">
        <h1 class="subtitle is-5">Zaimportuj quiz ze starej wersji</h1>
        <div class="notification is-danger p-4" id="import-error" style="display: none;"></div>
        <div class="columns">
            <div class="column">
                <div class="field" id="file">
                    <label class="label" for="file-input">Plik zip z pytaniami</label>
                    <div class="control">
                        <div class="file is-boxed is-fullwidth" id="file-box">
                            <label class="file-label has-text-centered" id="file-label">
                                <input class="file-input" type="file" accept=".zip" id="file-input">
                                <span class="file-cta" id="file-cta">
                                    <span class="file-icon">
                                        <iconify-icon icon="bi:file-earmark-arrow-up"></iconify-icon>
                                    </span>
                                    <span class="file-label">Wybierz plik…</span>
                                </span>
                                <span class="file-name" id="file-name" style="display: none;"></span>
                            </label>
                        </div>
                    </div>
                    <p class="help" id="file-help" style="display: none;"></p>
                </div>
            </div>
            <div class="column is-hidden-touch is-narrow p-0 is-flex is-justify-content-center is-align-items-center">
                /
            </div>
            <div class="column is-hidden-touch">
                <div class="field" id="directory">
                    <label class="label" for="directory-input">Folder z pytaniami</label>
                    <div class="control">
                        <div class="file is-boxed is-fullwidth" id="directory-box">
                            <label class="file-label has-text-centered" id="directory-label">
                                <input class="file-input" type="file" id="directory-input" webkitdirectory mozdirectory
                                       directory multiple>
                                <span class="file-cta" id="directory-cta">
                                    <span class="file-icon">
                                        <iconify-icon icon="bi:folder"></iconify-icon>
                                    </span>
                                    <span class="file-label">Wybierz folder…</span>
                                </span>
                                <span class="file-name" id="directory-name" style="display: none;"></span>
                            </label>
                        </div>
                    </div>
                    <p class="help" id="directory-help" style="display: none;"></p>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" for="title">Nazwa</label>
            <div class="control">
                <input class="input" type="text" id="title" placeholder="Nazwa bazy">
            </div>
        </div>
        <div class="field">
            <label class="label" for="description">Opis</label>
            <div class="control">
                <textarea class="textarea" id="description" placeholder="Dodatkowy opis" rows="3"></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control has-text-centered">
                <button class="button is-inverted" id="import-button">Importuj</button>
            </div>
        </div>
    </div>
{% endblock %}
