python-dotenv==1.2.1
Django==6.0.2
usos-api==0.3.3
requests==2.32.5
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
adrf==0.1.12
gunicorn==25.1.0
psycopg[binary]==3.3.3
whitenoise==6.11.0
asgiref==3.11.1
django-ratelimit==4.1.0
drf-spectacular==0.29.0
django-filter==25.2
django-constance>=4.3.2
Authlib==1.6.8
nh3==0.3.3
Pillow==12.1.1
django-storages[s3]==1.14.6
