.dragover .file-cta {
    border-color: #3273dc #3273dc transparent #3273dc !important;
    border-style: dashed !important;
    border-width: 2px 2px 0 2px !important;
}

.dragover .file-name {
    border-color: transparent #3273dc #3273dc #3273dc !important;
    border-style: dashed !important;
    border-width: 0 2px 2px 2px !important;
}

.file-cta.dragover {
    border-color: #3273dc !important;
    border-style: dashed !important;
    border-width: 2px !important;
}