{% extends 'base.html' %}
{% load static %}
{% block title %}Oceny{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/grades.css' %}">
    <script src="{% static 'js/grades.js' %}"></script>
{% endblock %}
{% block content %}
    <nav class="level">
        <!-- Left side -->
        <div class="level-left">
            <div class="level-item">
                <div class="field">
                    <label class="label" for="term-select">Wybierz semestr</label>
                    <div class="control">
                        <div class="select is-loading">
                            <select id="term-select">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th>Przedmiot</th>
            <th>ECTS</th>
            <th>Ocena</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Średnia</th>
            <th></th>
            <th id="average"><progress class="progress" max="100"></progress></th>
        </tr>
        <tbody id="grades">
        <tr>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
        </tr>
        <tr>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
        </tr>
        <tr>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
        </tr>
        <tr>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
        </tr>
        <tr>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
        </tr>
        <tr>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
        </tr>
        <tr>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
        </tr>
        <tr>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
        </tr>
        <tr>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
            <td><progress class="progress" max="100"></progress></td>
        </tr>
        </tbody>
    </table>
{% endblock %}