{% extends 'base.html' %}
{% load static %}
{% block title %}Oceny{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/grades.css' %}">
    <script src="{% static 'js/grades.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="card p-4 border-0 shadow">
        <nav class="d-flex justify-content-start align-items-center mb-4">
            <!-- Left side -->
            <div class="me-3">
                <div class="mb-2">
                    <label class="form-label" for="term-select">Wybierz semestr</label>
                    <select id="term-select" class="form-select" aria-label="Wybierz semestr" disabled>
                        <option>Ładowanie...</option>
                    </select>
                </div>
            </div>
        </nav>
        <div id="error-alert" class="alert alert-danger d-none" role="alert">
            <p id="error-alert-text">Wystąpił błąd podczas pobierania ocen.</p>
            <p id="error-alert-additional-text"></p>
            <a href="#" id="error-alert-link" class="alert-link">Spróbuj ponownie</a>.
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Przedmiot</th>
                <th scope="col">ECTS</th>
                <th scope="col">Ocena</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Średnia</th>
                <th></th>
                <th id="average">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="2"></div>
                    </div>
                </th>
            </tr>
            </tfoot>
            <tbody id="grades">
            <tr>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="0"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="1"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="2"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="0"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="1"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="2"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="0"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="1"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="2"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="0"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="1"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="2"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="0"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="1"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="2"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="0"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="1"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="2"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="0"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="1"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="2"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="0"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="1"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="2"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="0"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="1"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="2"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="0"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="1"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="2"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="0"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="1"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                             role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" data-progress-bar-index="2"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}