{% extends 'unfold/layouts/unauthenticated.html' %}

{% load i18n unfold %}

{% block title %}
    Admin Login | {{ site_title|default:"Testownik Solvro" }}
{% endblock %}

{% block content %}
    {% include "unfold/helpers/unauthenticated_title.html" with title=site_title|default:"Testownik Solvro" subtitle=_('Welcome back to') %}

    {% include "unfold/helpers/messages.html" %}

    {% if user.is_authenticated %}
        <div class="mb-8 rounded-md border border-red-600/20 bg-red-600/5 px-4 py-3 text-sm text-red-600 dark:border-red-500/20 dark:bg-red-500/5 dark:text-red-500">
            {% blocktranslate trimmed %}
                You are authenticated as {{ username }}, but are not authorized to
                access this page. Would you like to login to a different account?
            {% endblocktranslate %}
        </div>

        <div class="flex flex-col gap-3">
            {% component "unfold/components/button.html" with href=usos_login_url_confirm variant="primary" class="w-full" include_context %}
                {% translate 'Log in with a different USOS account' %}
                <span class="material-symbols-outlined relative right-0 transition-all group-hover:-right-1 text-sm">arrow_forward</span>
            {% endcomponent %}

            {% component "unfold/components/button.html" with href=solvro_login_url_confirm variant="secondary" class="w-full" include_context %}
                {% translate 'Log in with a different Solvro Auth account' %}
                <span class="material-symbols-outlined relative right-0 transition-all group-hover:-right-1 text-sm">arrow_forward</span>
            {% endcomponent %}
        </div>
    {% else %}
        <div class="flex flex-col gap-3">
            {% component "unfold/components/button.html" with href=usos_login_url variant="primary" class="w-full" include_context %}
                {% translate 'Log in with USOS' %}
                <span class="material-symbols-outlined relative right-0 transition-all group-hover:-right-1 text-sm">arrow_forward</span>
            {% endcomponent %}

            {% component "unfold/components/button.html" with href=solvro_login_url variant="secondary" class="w-full" include_context %}
                {% translate 'Log in with Solvro Auth' %}
                <span class="material-symbols-outlined relative right-0 transition-all group-hover:-right-1 text-sm">arrow_forward</span>
            {% endcomponent %}
        </div>
    {% endif %}
{% endblock %}
