{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static "admin/css/login.css" %}">
    {{ form.media }}
{% endblock %}

{% block title %}Admin login{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="/">< Back</a> | <a href="{% url 'admin:index' %}">Django administration</a></h1>
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block content %}

    <div id="content-main">

        {% if user.is_authenticated %}
            <p class="errornote">
                {% blocktranslate trimmed %}
                    You are authenticated as {{ username }}, but are not authorized to
                    access this page. Would you like to login to a different account?
                {% endblocktranslate %}
            </p>
        {% endif %}

        <div class="submit-row">
            {% if not user.is_authenticated %}
                <div class="flex-column my-4">
                    <a class="button" href="{% url 'login_usos' %}?redirect={{ next }}">Log in with USOS</a>
                    <a class="button" href="{% url 'login' %}?redirect={{ next }}">Log in with Solvro Auth</a>
                </div>
            {% else %}
                <div class="flex-column my-4">
                    <a class="button" href="{% url 'login_usos' %}?confirm_user=true&redirect={{ next }}">Log in with a
                        different USOS account</a>
                    <a class="button" href="{% url 'login' %}?confirm_user=true&redirect={{ next }}">Log in with a different Solvro Auth
                        account</a>
                </div>
            {% endif %}
        </div>

    </div>
    <style>
        a.button {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }

        .flex-column {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .my-4 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}