<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorized</title>
</head>
<body>
    <h1>Authorized</h1>
    <p>You are now authorized to access the application.</p>
    <p>Access token: {{ access_token }}</p>
    <p>Access token secret: {{ access_token_secret }}</p>

    <p>User:</p>
    <ul>
        <li>Id: {{ user.id }}</li>
        <li>Username: {{ user.full_name }}</li>
        <li>Student number: {{ user.student_number }}</li>
        <li>Email: {{ user.email }}</li>
        <li>First Name: {{ user.first_name }}</li>
        <li>Last Name: {{ user.last_name }}</li>
        <li>Sex: {{ user.sex }}</li>
        <li>Student Status: {{ user.student_status }}</li>
        <li>Staff Status: {{ user.staff_status }}</li>
        <li>Photo URL: {{ user.photo_url }}</li>
    </ul>
</body>
</html>