{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
{#{% block title %}Dashboard{% endblock %}#}
{% block content %}
    <div class="card border-0 shadow">
        <div class="card-body">
            <h2 class="card-title">Strona została przeniesiona</h2>
            <p class="card-text">Znajdziesz ją pod adresem <a href="https://testownik.live">https://testownik.live</a></p>
            <hr>
            <p>Wszystkie dane są dostępne na nowej stronie.</p>
            <p>Zostaniesz przekierowany za 5 sekund.</p>
        </div>
    </div>
    <script>
        setTimeout(() => {
            window.location.href = 'https://testownik.live';
        }, 5000);
    </script>
{% endblock %}